@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient( 0deg, rgba(231, 242, 247, 0.733) 70%, rgba(240, 206, 206, 0.582) 75%, rgba(255, 255, 255, 0.25) 90%, rgba(255, 255, 255, 0) 95%);
}

img {
  height: 295px;
}

img.d-block {
  width: 192px;
  height: 220px;
}

.nav {
  margin-left: 1%;
}

.navbar:hover{
  cursor: pointer;
}

.box1 {
  width: 400px;
  margin-left: 33%;
  box-shadow: 0 0 5px 0 grey;
  background-color: white;
}

.box2 {
  background-color: white;
}

img.pic {
  width: 90px;
  height: 90px;
  margin: 20px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  box-shadow: 0 0 2px 0 black;
  transition: 2ms all;
}

img.pic:hover {
  cursor: pointer;
  border: 5px solid lightcyan;
  box-shadow: 0 0 10px 0 purple;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  margin-top: 5%;
}

h1 {
  margin-left: 42%;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 3%; */
  margin: 2px 20px !important;
  color: rgb(18, 18, 122);
  text-shadow: 2px 2px rgb(189, 197, 214);
  font-size: 600;
  border: 1px white;
  border-radius: 10px;
}

h3 {
  color: white;
  text-shadow: 2px 2px rgb(92, 92, 248);
  font-size: bold;
  background-color: rgba(3, 3, 3, 0.397);
  border: 1px white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 black;
}

.abc {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 1vh; */
}

input[type="radio"] {
  display: none;
}

.starric {
  cursor: pointer;
  transition: color 200ms
}

.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 99%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: transparent;
  box-shadow: 0 0 10px 0 grey;
  border-radius: 10px;
  margin-left: 1%;
  cursor: pointer;
}

.comment-form-textarea:focus {
  outline: none;
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 20px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
  box-shadow: 0 0 10px 0 grey;
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

/* 
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  z-index: 100;
  background: linear-gradient( 0deg, rgba(231, 242, 247, 0.733) 70%, rgba(240, 206, 206, 0.582) 75%, rgba(255, 255, 255, 0.25) 90%, rgba(255, 255, 255, 0) 95%);
} */

.text {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: darkred;
  font-size: 95px;
  display: flex;
  position: absolute;
  margin-top: 20px;
  bottom: 9vh;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.wrapper {
  padding: 2px;
}

.letter {
  transition: ease-out 1s;
  transform: translateY(90%);
}

.hadow {
  transform: scale(1, -1);
  color: rgba(230, 199, 199, 0.329);
  transition: ease-in 1s, ease-out 1s;
}

.wrapper:hover .letter {
  transform: translateY(-20%);
}

.wrapper:hover .hadow {
  opacity: 0;
  transform: translateY(20%);
}

@media only screen and (max-width: 780px) {
  /* body {
    background: rgb(242, 251, 252);
    background: linear-gradient(90deg, rgb(246, 253, 253) 0%, rgb(234, 243, 255) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1);
  } */
  img {
    height: 280px;
  }
  h1 {
    margin-left: 35%;
  }
  h2 {
    /* margin-left: 3%; */
    font-size: 600;
    border: 1px white;
    border-radius: 10px;
    margin-top: 13%;
    /* font-size: 50px bold; */
  }
  img.d-block {
    width: 300px;
    height: 150px;
  }
  h3 {
    color: white;
    text-shadow: 2px 2px rgb(92, 92, 248);
    font-size: bold;
    margin-bottom: 25%;
    margin-left: 6%;
    background-color: rgba(3, 3, 3, 0.397);
    border: 1px white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
  }
  .box1 {
    width: 350px;
    margin-left: 11px;
    box-shadow: 0 0 5px 0 grey;
    background-color: white;
  }
  .box2 {
    background-color: white;
  }
  img.pic {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-flex;
  }
  .nav {
    margin-left: 5%;
  }
  .carousel {
    width: 100%;
    margin-top: 20%;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* background: linear-gradient( 0deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.25) 90%, rgba(255, 255, 255, 0) 95%); */
  }
  .text {
    font-size: 40px;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .letter {
    transition: ease-out 1s;
    transform: translateY(40%);
  }

}